* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #0b0b0b;
    color: aliceblue;
    line-height: 1.6;
}

/* HERO SECTION */
.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1a1a1a, #111111);
    text-align: center;
}

.hero-section h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: rgb(211, 158, 0);
}

.hero-section h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: rgb(255, 255, 255, 0.7);
}

.hero-section p {
    font-size: 1.1rem;
    margin-bottom: 25px;
}


section {
    padding: 80px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
    color: rgb(211, 158, 0);
    margin-bottom: 20px;
    text-align: center;
}

/* ABOUT */
.about-section p {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

/* PROJECTS */
.projects-section .project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.project-card {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(211, 158, 0, 0.4);
}

.project-card h4 {
    margin-bottom: 10px;
    color: rgb(211, 158, 0);
}

.contact-section p {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.contact-section a {
    color: rgb(211, 158, 0);
    text-decoration: none;
    transition: color 0.5s ease;
}

.contact-section a:hover {
    color: rgb(255, 191, 0);
}

.project-cards .project-card a{
    color: rgb(19, 19, 213);
    text-decoration: none;
}

.phone-number{
    color:rgb(211, 158, 0);
}

.phone-number:hover{
    color:rgb(211, 158, 0);
}
